<!doctype html>
<html ng-app="MagnetsApp">
  <head>
    <title>Mag, You're It!</title>
    <% include header.ejs %>
  </head>
  <body ng-controller="HomeController">
    <h1>Mag, You're It!</h1>

    <ul>
        <li ng-repeat="magnet in magnets">{{ magnet.created }}</li>
    </ul>
  </body>
</html>
