<!doctype html>
<html ng-app="MagnetsApp">
  <head>
    <title>Mag, You're It!</title>
    <% include header.ejs %>
  </head>
  <body ng-controller="VisitsController" ng-init="magnetId = '<%= id %>'">
    <h1>Mag, You're It!</h1>

    <ul>
<<<<<<< HEAD
        <li ng-repeat="visit in magnet.visits">{{ visit.user }}</li>
=======
        <li ng-repeat="visit in visits">{{ visit.user }}</li>
>>>>>>> 9831148f3af2f8fdcfe49026eeb5063678979b0f
    </ul>

    <div>{{ magnetId }}</div>
  </body>
</html>