<!doctype html>
<html ng-app="MagnetsApp">
  <head>
    <title>Mag, You're It!</title>
    <% include header.ejs %>
  </head>
  <body ng-controller="VisitController" ng-init="magnetId = '<%= id %>'">
    <h1>Mag, You're It!</h1>

    <p>
      Congratulations! You've just discovered a "Mag, You're It" magnet! Tap the button below to record your visit.
    </p>

    <button>Record Visit!</button>

    <div>{{ magnetId }}</div>
  </body>
</html>
